body {
	background: white;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;

}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar.navbar-default a{
	background: white;
	color: black;
}

.light-gray {
	background: black;
	color: white;
}

#mainBlock {
	margin-top: 3.2em;
	background-image: url(../img/main.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
	background-position: center center;
	height: 25em;
}

.second-block {
	height: 50%;
	background: black;
	color: white;
}

.second-block h2 {
	color: white;
}

/* alt image /img/main1.jpeg */
#aboutBlock {
	background: url(../img/game-image.png);
	background-size: cover;
	background-position: fixed;
	height: 20.75em;
}

.container-sm {
	width: 80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#aboutBlock h2 {
	color: white;
	font-size: 2em;
}

#about-marker p{
	font-size: 1.7em;
	font-weight: normal;
}

#vBeasts {
	background: url(../img/game-poster.png);
	background-position: center center;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	height: 15.75em;
	width: auto;
	margin-top: 2em;
	margin-bottom: 0;
}

.pull-quote>p {
	font-size: 1em;
}

.pull-quote img {
	width: auto;
	height: 8em;
}

h2.white {
	color: rgba(255,255,255, .8);
}

.navbar.navbar-inverse {
	background: black;
	border-radius: 0;
}

.nothing {
	display: none;
}

.app-footer {
	padding: 2em 0 2em 0;
}

/* Parallax Code */

div.module.parallax {
  height: 25.75em;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#throw-text {
	margin-top: 3em;
}

div.module.parallax-1 {
  background-image: url("../img/game-image.png");
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}