body {
	background: white;
	font-size: 16px;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-default {
	background: white;
	color: black;
}

#mainBlock {
	background-image: url(../img/main.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
	background-position: center center;
	height: 20.75em;
}


/* alt image /img/main1.jpeg */
#aboutBlock {
	background: url(../img/game-image.png);
	background-size: cover;
	background-position: center center;
	color: white;
	height: 20.75em;
}

#aboutBlock h2 {
	color: white;
	font-size: 2em;
}

#vBeasts {
	background: url(../img/game-poster.png);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 15.75em;
}

.card {
	padding: 1em;
	height: 16.375em;
	width: 16.375em;
	background: rgba(220,220,220, .5);
	border-radius: 8px;
}

.card img {
	height: 8em;
	width: 8em;
	border: 1px, white;
	margin-bottom: 5px;
}
.card.writing {
	font-size: .75em;
}
.about-writing {
	font-size: 1.2em;
}

.pull-quote>p {
	font-size: 1em;
}

h1.white {
	color: white;
}

#carousel-img-start {
	max-width:230px;
	max-height:95px;
	width: auto;
	height: auto;
}

.navbar.navbar-inverse {
	background: black;
	border-radius: 0;
}

.nothing {
	display: none;
}