<div class="block block-fill-height block-inverse" id="mainBlock">
	<div class="navbar navbar-transparent navbar-fixed-top navbar-padded">
		<div class="container">
			<div class="navbar-header">
				<a href="/#/" class="navbar-brand">
					<img src="img/logo.png">
				</a>
			</div>
			<div class="navbar-collapse collapse text-uppercase">
				<ul class="nav navbar-nav p-t">
					<li>
						<a href="/#/about">About</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="block-foreground block-md-middle p-y-lg text-center">
		<h1 class="block-title">Churroboros Studios</h1>
		<h4 class="text-muted">Coming Soon :)</h4>
	</div>
</div>