<div class="navbar navbar-default">
	<div class="container text-uppercase">
		<div class="navbar-header">
			<a href="/#/" class="navbar-brand">
				Churroboros
			</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="/#/">About</a></li>
			<li><a href="/#/">Games</a></li>
			<li><a href="/#/">Team</a></li>
			<li><a href="/#/">Contact</a></li>
		</ul>
	</div>
</div>
<div id="mainBlock" class="block block-inverse text-center an-css">
</div>
<div class="block block-inverse text-center p-t-0 p-b an-css">
	  <div class="container">
			<h3 class="block-title">CHURROBOROS</h3>
	  </div>
</div>
<div class="block text-center p-y">
	<h3 class="text-uppercase">A VR INDIE STUDIO DEDICATED TO CREATING SPICY ORIGINAL CONTENT</h3>
	<div class="container">
		<p class="lead">Founded by a diverse group of gamers in the San Francisco Bay Area, Churroboros is built upon the common belief that virtual reality content can be far more immersive and competitive than what current platforms support. Recognizing the VR content gap, the developers at Churroboros produced a game that allows players to travel through mind bending scenerios and compete against one another in a highly competitive online multiplayer experience.</p>
	</div>
	
</div>
<!-- <picture-block></picture-block> -->
<icon-words></icon-words>
<!-- <carousel-block></carousel-block> -->

<fade-in></fade-in>

<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-5 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
          	Media and PR Inquiries: <a href="mailto:media@churrobors.com?subject=feedback" "email me">media@churrobors.com</a>
          	Churroboros studios website is being created by <a href="http://cairostewart.herokuapp.com/#/"> Cairo Masaki Stewart</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-2 col-sm-offset-1 m-b-md">
        
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          
        </ul>
      </div>
      <div class="col-sm-2 m-b-md">
        <ul class="list-unstyled list-spaced">
          
        </ul>
      </div>
    </div>
  </div>
</div>
