<!-- <div class="container">
  <div class="block block-inverse p-y">
    <div class="text-center">
      <h1 class="m-b-0">CHOOSE</h1>
      <p class="m-b-0">your weapon</p>
      <h1 class="m-y-0">THROW</h1>
      <p class="m-b-0">it</p>
      <h1 class="m-y-0">TELEPORT</h1>
      <p class="m-b-0">and</p>
      <h1 class="m-t-0 m-b">OBLITERATE YOUR FRIENDS</h1>
    </div>
  </div>
</div> -->
  
<div id="team-marker" class="block p-y-0 light-gray">
  <h2 class="white text-center p-t">The Team</h2>
  <div id="carousel-example-generic-2" class="carousel carousel-light slide" data-ride="carousel">
    
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="block p-t light-gray">
          <div class="container">
            <blockquote class="pull-quote">
            	<img id="carousel-img-start" class="img-rounded" src="/img/logo.png" alt="Churroboros logo">
            	<p>Churroboros</p>
            	<cite>San Francisco, CA</cite>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="item" ng-repeat="item in team">
        <div class="block p-t light-gray">
          <div class="container">
	            <blockquote class="pull-quote">
	              <img class="img-rounded" src="{{item.picture}}" alt="{{item.name}} - {{item.position}} -">
	              <cite>{{item.name}}</cite>
                <cite class="p-y-0 m-y-0 light-grey">{{item.position}}</cite>
                <p>
                  “{{item.about}}”
                </p>
	            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators p-t">
      <li data-target="#carousel-example-generic-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="5"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="6"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="7"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="8"></li>
      <li data-target="#carousel-example-generic-2" data-slide-to="9"></li>
    </ol>
    <!-- <button class="left carousel-control" role="button" data-slide="prev">
      <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="right carousel-control" role="button" data-slide="next">
      <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button> -->
  </div>
</div>