<div class="">
  		<div class="block p-y-lg module parallax parallax-1 text-center">
  		    <h2 class=" white m-b-0">CHOOSE</h1>
			<p class="m-b-0">your weapon</p>
			<h2 class=" white m-y-0">THROW</h1>
			<p class="m-b-0">it</p>
			<h2 class=" white m-y-0">TELEPORT</h1>
			<p class="m-b-0">and</p>
			<h2 class="white m-t-0 m-b">OBLITERATE YOUR FRIENDS</h1>
  		</div>
	<div id="vBeasts" class="block block-bordered-lg">
	</div>
</div>
<div class="block p-t-0 text-center">
	<div class="container">
		<div class="col-md-4">
		<div class="embed-responsive embed-responsive-4by3">
			<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FChurroborosVR%2Fvideos%2F1065082206905686%2F&show_text=0&width=580" width="560" height="315" style="border:none;overflow:hidden" class="embed-responsive-item" scrolling="no" frameborder="1" allowTransparency="true" allowFullScreen="true"></iframe>
		</div>
		</div>
		<div class="col-md-5 col-md-offset-3">
			<h1 class="block-title m-t-lg">We Can Make That Dream A Reality</h1>
			<p>For the HTC Vive, Oculus Rift and Playstation VR!</p>
		</div>
	</div>
</div>