
<div class="block block-inverse p-y-lg module parallax parallax-1 text-center">
	<div class="container-fluid p-t-lg element">
	</div>
</div>

<div class="block text-center">
	<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div id="vBeasts">
				
			</div>
		</div>
		<div class="col-md-6">
			<h3 class="white m-b-0">CHOOSE</h3>
			<p class="m-b-0">your weapon</p>
			<h3 class=" white m-y-0">THROW</h3>
			<p class="m-b-0">it</p>
			<h3 class=" white m-y-0">TELEPORT</h3>
			<p class="m-b-0">and</p>
			<h3 class="white m-t-0">OBLITERATE YOUR FRIENDS</h3>
		</div>
	</div>
</div>
</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="block text-center">
				<h1 class="block-title">We Can Make That Dream A Reality</h1>
				<p>For the HTC Vive, Oculus Rift and Playstation VR!</p>
			</div>
		</div>
	</div>